@model List<Contact.Models.ContactModel>
@{
    ViewData["Title"] = "Listagem de Contatos";
}

<div>
    <h3 class="text-black-50">Listagem de Contatos!</h3>
    @(Html.Kendo().Grid(Model)
        .Name("home")
        .Columns(columns => {
            columns.Bound(p => p.Name);
            columns.Bound(p => p.Email);
            columns.Bound(p => p.Phone);
            columns.Command(command => {command.Edit(); command.Destroy();}).Width(250);
        })
        .ToolBar(toolBar =>
        {
            toolBar.Create();
            
        })
        .Editable(editable => editable.Mode(GridEditMode.InLine))
        .DataSource(datasource => datasource
            .Ajax()
            .PageSize(20)
            .Read(read => read.Action("GetAll", "Home"))
            .Model(model => model.Id(p => p.Id))
            .Create(data => data.Action("Create","Home"))
            .Destroy(data => data.Action("Delete", "Home"))
            .Update(update => update.Action("Update", "Home"))
        )
    )
</div>